*.ReSharper.user
/builds
/packages
/NContrib/obj
/NContrib/bin
/NContrib/builds
/NContrib.Tests/obj
/NContrib.Tests/bin
/NContrib4/bin
/NContrib4/obj
/NContrib4/builds
/_ReSharper.NContrib
*.suo
/NContrib.International/obj
/NContrib.International/bin
/NContrib.Examples/bin
/NContrib.Examples/obj
/NContrib.Drawing/obj
/NContrib.Drawing/bin
/NContrib.Drawing/publish
/NContrib.International/publish
/NContrib.International/builds
/NContrib.Web/obj
/NContrib.Web/bin
/NContrib.Web/publish
/NContrib.Web/builds
/NContrib/publish
/NContrib4/publish
NContrib.Web.MultiTenancy/bin
NContrib.Web.MultiTenancy/obj
.DS_Store
