
/NContrib/obj
/NContrib/bin
/NContrib.Tests/obj
/NContrib.Tests/bin
/NContrib4/bin
/NContrib4/obj
/_ReSharper.NContrib
*.suo
/NContrib.International/obj
/NContrib.International/bin
/NContrib.Examples/bin
/NContrib.Examples/obj
/NContrib.Drawing/obj
/NContrib.Drawing/bin